{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 p-5 bg-body-secondary border">
            <h1>Register</h1>
            <form action="{{ url_for("auth.register") }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend class="mb-5">Create your account, please enter your details!</legend>
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control form-control-lg", placeholder="Your Name") }}
                        <span class="form-text text-muted">{{ form.name.description }}</span>
                    </div>
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control form-control-lg", placeholder="your.email@example.com") }}
                        <span class="form-text text-muted">{{ form.email.description }}</span>
                    </div>
                    <div class="mb-5">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control form-control-lg", placeholder="") }}
                        <span class="form-text text-muted">{{ form.password.description }}</span>
                    </div>
                    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                </fieldset>
                <p class="text-center mt-4 mb-0">
                    Have an account? <a href="{{ url_for("auth.login") }}">Login here</a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
